<div class="card" *ngIf="movie">
  <div class="card__header">
    <div>
      <h1>
        {{ movie.Title }}
      </h1>
    </div>

    <div>
      <h4>
        IMDb: {{ movie.imdbRating }} {{ movie.Runtime | convertMinToHours }}
        {{ movie.Year }}
      </h4>
    </div>

    <div>
      <mat-chip-listbox aria-label="genre selection">
        <ng-container *ngFor="let genre of split(movie.Genre)">
          <mat-chip>
            {{ genre }}
          </mat-chip>
        </ng-container>
      </mat-chip-listbox>
    </div>
  </div>

  <div class="card__content">
    <div class="card__content__section">
      <span>
        {{ movie.Plot }}
      </span>

      <img mat-card-image [src]="movie.Poster" [alt]="movie.title" />
    </div>

    <div class="card__content__info">
      <ul>
        <li><strong>Released:</strong> {{ movie.Released }}</li>
        <!-- <li><strong>Runtime:</strong> {{ movie.Runtime | convertMinToHours }}</li> -->
        <!-- <li><strong>Genre:</strong> {{ movie.Genre }}</li> -->
        <li><strong>Director:</strong> {{ movie.Director }}</li>
        <li><strong>Writer:</strong> {{ movie.Writer }}</li>
        <li><strong>Actors:</strong> {{ movie.Actors }}</li>
        <!-- <li><strong>Plot:</strong> {{ movie.Plot }}</li> -->
        <li><strong>Language:</strong> {{ movie.Language }}</li>
        <li><strong>Country:</strong> {{ movie.Country }}</li>
        <li><strong>Awards:</strong> {{ movie.Awards }}</li>
        <li><strong>Type:</strong> {{ movie.Type }}</li>
      </ul>
    </div>
  </div>
</div>
