<ng-container *ngIf="movie">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle>Ano: {{ movie.Year }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image [src]="movie.Poster" [alt]="movie.title" />

    <mat-card-content>
      <p>
        {{ movie.Plot }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>

    "Released": {{ movie.Released }} <br />
    "Runtime": {{ movie.Runtime }} <br />
    "Genre": {{ movie.Genre }} <br />
    "Director": {{ movie.Director }} <br />
    "Writer": {{ movie.Writer }} <br />
    "Actors": {{ movie.Actors }} <br />
    "Plot": {{ movie.Plot }} <br />
    "Language": {{ movie.Language }} <br />
    "Country": {{ movie.Country }} <br />
    "Awards": {{ movie.Awards }} <br />
    "Type": {{ movie.Type }}
  </mat-card>
</ng-container>

  