// cards sem o material
// .movies-list {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   ul {
//     list-style: none;
//     max-width: 200px;
//   }
//   &__article {
//     display: flex;
//     justify-content: center;
//     flex-direction: column; 
//     p{
//         text-align: center;
//         word-wrap: break-word;
//         color: aliceblue;
//         font-size: 16px;
//     }
//     &__section {
//       color: aliceblue;
//       img{
//         border-radius: 10px;
//         width: 200px;
//         height: 297px;
//       }
//     }
//   }
// }

.movies-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 40px;
}
span{
  color: aliceblue;
  font-size: 32px ;
}
