<nav
  style="
    background-color: rgb(127, 172, 255);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  "
>
  <span> {{title}} </span>

  <app-search (searchEvent)="search($event)"></app-search>
</nav>

<div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <ul *ngFor="let movie of movies$ | async">
    <li>
      <article style="display: flex; justify-content: center; flex-direction: column">
        <section>
          <a href="">
            <img [src]="movie.Poster" width="150" alt="sem imagem" />
          </a>
        </section>
      </article>
    </li>
  </ul>
</div>


<router-outlet></router-outlet>
